<template>
  <div>
    <header-component
      :user="user"
      :site_name="site_name"
      :urls="urls">
      <template v-slot:logout-csrf>
        <slot name="logout-csrf"></slot>
      </template>
    </header-component>
    <div class="app-body">
      <sidebar-component
        :user="user"
        :site_name="site_name"
        :urls="urls" />
      <main class="main">
        <router-view
          :user="user"
          :site_name="site_name"
          :urls="urls">
          <template v-slot:logout-csrf>
            <slot name="logout-csrf"></slot>
          </template>
        </router-view>
      </main>
    </div>
  </div>
</template>

<script>
import HeaderComponent from './components/HeaderComponent'
import SidebarComponent from './components/SidebarComponent'

export default {
  props: {
    user: Object,
    site_name: {
      type: String,
      default: 'Aspire'
    },
    urls: Object
  },
  components: {
    HeaderComponent,
    SidebarComponent
  },
  created() {
    this.$store.commit('update', this.user)
    this.$http.defaults.headers.common['Authorization'] = 'Bearer ' + this.user.api_token;
    this.$http.interceptors.response.use(
      (response) => response,
      (error) => {
        if (error.response.status === 401) {
          window.location.href = this.urls.login
        }
        else if(error.response.status == 422) {
          let messages = []
          for (var property in error.response.data.errors) {
            let tmp = error.response.data.errors[ property ]
            tmp.forEach((msg) => {
              messages.push(msg)
            })
          }
          this.$swal({
            icon: 'error',
            text: messages.join('<br />'),
          })
        }
        return error.response
      })
  },
}
</script>
