<template>
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">{{ $t('dashboard.title') }}</li>
    </ol>
    <div class="container-fluid">
      <div class="animated fadeIn">
        {{ $t('dashboard.hey', { name: user.name }) }}
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'home',
  props: {
    user: Object,
    site_name: {
      type: String,
      default: 'Aspire'
    },
    urls: Object
  },
  mounted() {
    // Todo::
  }
}
</script>