<template>
  <div>
    <div class="spinner-border m-5" role="status" v-if="loading"></div>
    <div v-else>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="{ name: 'home' }">{{ $t('dashboard.title') }}</router-link>
        </li>
        <li class="breadcrumb-item active">{{ $t('loan-packages.title') }}</li>
      </ol>
      <div class="container-fluid">
        <div class="animated fadeIn pt-3">
          <div class="card">
            <h5 class="card-header font-weight-bold">{{ $t('loan-packages.title') }}</h5>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-responsive-sm table-hover table-outline mb-0 border-0 text-nowrap">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="border-0 text-center" style="width: 50px;">#</th>
                      <th scope="col" class="border-0">{{ $t('loan-packages.name') }}</th>
                      <th scope="col" class="border-0">{{ $t('loan-packages.term') }}</th>
                      <th scope="col" class="border-0">{{ $t('loan-packages.interest-rate') }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(row, index) in rows" :key="'row' + index">
                      <th scope="row" class="text-center">{{ row.id }}</th>
                      <td>{{ row.name }}</td>
                      <td>{{ $t('loan-packages.term-value', { term: row.term }) }}</td>
                      <td>{{ row.interest_rate }}%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'loan-packages',
  props: {
    user: Object,
    urls: Object
  },
  data() {
    return {
      loading: true,
      rows: []
    }
  },
  created() {
    this.$http.get(this.urls.loan_packages)
      .then((response) => {
        this.loading = false
        this.rows = response.data.data
      })
  },
  mounted() {
    // Todo::
  },
}
</script>