<template>
  <div>
    <div class="spinner-border m-5" role="status" v-if="loading"></div>
    <div v-else>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="{ name: 'home' }">{{ $t('dashboard.title') }}</router-link>
        </li>
        <li class="breadcrumb-item active">{{ $t('my-loans.title') }}</li>
      </ol>
      <div class="container-fluid">
        <div class="animated fadeIn pt-3">
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="card">
                <h5 class="card-header font-weight-bold">{{ $t('my-loans.make-a-loan') }}</h5>
                <div class="card-body">
                  <form @submit.prevent="submitFn" :action="urls.make_a_loan" method="POST" class="needs-validation" novalidate>
                    <div class="form-group">
                      <label for="description">{{ $t('my-loans.description') }}</label>
                      <textarea class="form-control" id="description" :placeholder="$t('my-loans.description-placeholder')" style="height: 75px;" v-model="form.description" required></textarea>
                      <div class="invalid-feedback">
                        {{ $t('my-loans.description-invalid') }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="loan-package-id">{{ $t('my-loans.choose-loan-package') }}</label>
                      <select class="form-control" id="loan-package-id" v-model="form.loan_package_id" required>
                        <option value="">{{ $t('choose') }}</option>
                        <option v-for="(loan_package, index) in loan_packages" :key="'loan-package' + index" :value="loan_package.id">{{ loan_package.name }}</option>
                      </select>
                      <div class="invalid-feedback">
                        {{ $t('my-loans.choose-loan-package-invalid') }}
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="amount">{{ $t('my-loans.amount') }}</label>
                      <input type="number" class="form-control" id="amount" :placeholder="$t('my-loans.amount-placeholder')" v-model="form.amount" min="100000" max="1000000000" required>
                      <div class="invalid-feedback">
                        {{ $t('my-loans.amount-invalid') }}
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary" :disabled="submiting">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" v-if="submiting"></span>
                      {{ $t('my-loans.submit') }}
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <div class="card">
                <h5 class="card-header font-weight-bold">{{ $t('my-loans.title') }}</h5>
                <div class="card-body p-0">
                  <div class="alert alert-danger border-0 rounded-0 m-0" role="alert" v-if="loans.length == 0">{{ $t('no-data') }}</div>
                  <div class="table-responsive" v-else>
                    <table class="table table-responsive-sm table-hover table-outline mb-0 border-0 text-nowrap">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col" class="border-0 text-center" style="width: 50px;">#</th>
                          <th scope="col" class="border-0">{{ $t('my-loans.description') }}</th>
                          <th scope="col" class="border-0">{{ $t('my-loans.status') }}</th>
                          <th scope="col" class="border-0">{{ $t('my-loans.amount') }}</th>
                          <th scope="col" class="border-0">{{ $t('my-loans.loan-package-name') }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(row, index) in loans" :key="'row' + index">
                          <th scope="row" class="text-center">{{ row.id }}</th>
                          <td>
                            <span v-if="row.status == 1">
                              <router-link :to="{ name: 'my-loan-repayment', params: { id: row.id } }">
                                {{ row.description }}
                              </router-link>
                            </span>
                            <span v-else>
                                {{ row.description }}
                            </span>
                          </td>
                          <td>
                            <span class="badge badge-pill badge-secondary" v-if="row.status == 0">{{ statuses[row.status] || '-' }}</span>
                            <span class="badge badge-pill badge-primary" v-else-if="row.status == 1">{{ statuses[row.status] || '-' }}</span>
                            <span class="badge badge-pill badge-danger" v-else-if="row.status == 2">{{ statuses[row.status] || '-' }}</span>
                          </td>
                          <td>{{ row.amount_vnd }} đ</td>
                          <td>{{ row.loan_package_name }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer" v-if="loans.length > 0">
                    <nav class="" v-if="pager">
                      <ul class="pagination mb-0">
                        <li class="page-item" :class="{ disabled: current_page <= 1 }">
                          <a href="#" @click.prevent.stop="pageFn(current_page - 1)" class="page-link rounded-0" :title="$t('previous')">
                            {{ $t('previous') }}
                          </a>
                        </li>
                        <li class="page-item" v-for="page in pager.pages" :key="page" :class="{ disabled: page == current_page }">
                          <a href="#" @click.prevent.stop="pageFn(page)" class="page-link">
                            {{ page }}
                          </a>
                        </li>
                        <li class="page-item" v-if="(pager.total_pages - pager.start_page) > 5 ">
                          <a href="#" @click.prevent.stop="pageFn(pager.start_page + 5)" class="page-link disabled">
                            ...
                          </a>
                        </li>
                        <li class="page-item" v-if="(pager.total_pages - pager.start_page) > 5" >
                          <a href="#" @click.prevent.stop="pageFn(pager.total_pages)" class="page-link">
                            {{pager.total_pages}}
                          </a>
                        </li>
                        <li class="page-item" :class="{ disabled: current_page >= pager.total_pages }">
                          <a href="#" @click.prevent.stop="pageFn(current_page + 1)" class="page-link" :title="$t('next')">
                            {{ $t('next') }}
                          </a>
                        </li>
                        <li class="page-item" v-if="page_loading">
                          <a href="#" class="page-link">
                            {{ $t('loading') }}
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { pagination } from '../helper'

export default {
  name: 'my-loans',
  props: {
    user: Object,
    urls: Object
  },
  data() {
    return {
      loading: true,
      loan_packages: [],
      loans: [],
      submiting: false,
      form: {
        description: null,
        loan_package_id: '',
        amount: 0,
      },
      statuses: [ this.$t('my-loans.init'), this.$t('my-loans.approved'), this.$t('my-loans.canceled') ],
      pager: null,
      current_page: 1,
      page_loading: false
    }
  },
  methods: {
    pageFn(page) {
      this.page_loading = true
      this.$http.get(this.urls.loans + '?page=' + page)
        .then((response) => {
          this.page_loading = false
          this.current_page = page
          this.loans = response.data.data
          this.$router.push({ name: 'my-loans', params: { page: page } })
        })
    },
    resetFn(event) {
      this.form.description = null
      this.form.loan_package_id = ''
      this.form.amount = 0
      event.target.classList.remove('was-validated')
    },
    submitFn(event) {
      event.preventDefault()
      event.target.classList.add('was-validated')
      if(event.target.checkValidity() === false) {
        return false
      }
      this.submiting = true
      this.$http.post(this.urls.make_a_loan, this.form)
        .then((response) => {
          if(response.status == 200) {
            this.loans = response.data.data
            this.pager = pagination(response.data.total, this.current_page, response.data.per_page, 5)
          }
          this.submiting = false
          this.resetFn(event)
        })

      return false
    }
  },
  created() {
    this.current_page = parseInt(this.$route.params.page || 1)
    this.$http.all([
      this.$http.get(this.urls.loan_packages),
      this.$http.get(this.urls.loans + '?page=' + this.current_page),
    ])
    .then(this.$http.spread((loan_packages, loans) => {
      this.loading = false
      this.loan_packages = loan_packages.data.data
      this.loans = loans.data.data
      this.pager = pagination(loans.data.total, this.current_page, loans.data.per_page, 5)
    }))
  }
}
</script>