<template>
    <div class="spinner-border m-5" role="status" v-if="loading"></div>
    <div v-else>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="{ name: 'home' }">{{ $t('dashboard.title') }}</router-link>
        </li>
        <li class="breadcrumb-item active">{{ $t('my-loans.title') }}</li>
      </ol>
      <div class="container-fluid">
        <div class="animated fadeIn pt-3">
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="card">
                <h5 class="card-header font-weight-bold">{{ $t('user.profile') }}</h5>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table table-responsive-sm table-hover table-outline mb-0 border-0 text-nowrap">
                      <tbody>
                        <tr>
                          <th class="border-0">{{ $t('user.name') }}</th>
                          <td class="border-0">{{ $store.getters.user.name }}</td>
                        </tr>
                        <tr>
                          <th>{{ $t('user.email') }}</th>
                          <td>{{ $store.getters.user.email }}</td>
                        </tr>
                        <tr>
                          <th>{{ $t('user.amount') }}</th>
                          <td class="font-weight-bold">{{ format_number($store.getters.user.amount, 0, ',', '.') }} đ</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-9">
              <div class="card">
                <h5 class="card-header font-weight-bold">{{ $t('my-loans.title') }}</h5>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table table-responsive-sm table-hover table-outline mb-0 border-0 text-nowrap">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col" class="border-0 text-center" style="width: 50px;">#</th>
                          <th scope="col" class="border-0">{{ $t('my-loans.amount') }}</th>
                          <th scope="col" class="border-0">{{ $t('my-loans.status') }}</th>
                          <th scope="col" class="border-0">{{ $t('my-loans.date-term') }}</th>
                          <th scope="col" class="border-0" style="width: 175px;"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(row, index) in rows" :key="'row' + index">
                          <th scope="row" class="text-center" style="vertical-align: middle;">{{ row.id }}</th>
                          <td>{{ row.amount_vnd }} đ</td>
                          <td>
                            <span class="badge badge-pill badge-secondary" v-if="row.status == 0">{{ statuses[row.status] || '-' }}</span>
                            <span class="badge badge-pill badge-primary" v-else-if="row.status == 1">{{ statuses[row.status] || '-' }}</span>
                          </td>
                          <td>{{ row.term }}</td>
                          <td>
                            <button type="button" class="btn btn-primary btn-sm" :class="{ 'btn-danger': expiredFn(row), 'btn-success': row.status == 1 }" :disabled="row.status == 1" @click.prevent="repayFn(row)">
                              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" v-if="repay_loading == row.id"></span>
                              <span v-if="row.status == 1">{{ $t('my-loans.repayed') }}</span>
                              <span v-else>{{ $t('my-loans.repay') }}</span>
                            </button>
                            <div class=""><small class="text-danger" v-if="expiredFn(row)">{{ $t('my-loans.repay-expired') }}</small></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer">
                    <router-link :to="{ name: 'my-loans' }" class="btn btn-secondary">{{ $t('back') }}</router-link>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { format_number } from '../helper'

export default {
  name: 'my-loans-repayment',
  props: {
    user: Object,
    urls: Object
  },
  data() {
    return {
      loading: false,
      rows: [],
      statuses: [ this.$t('my-loans.init'), this.$t('my-loans.paid') ],
      repay_loading: null,
      format_number
    }
  },
  methods: {
    repayFn(row) {
      this.repay_loading = row.id
      this.$http.put(this.urls.repay.replace(/id$/, row.id), { id: row.id, loan_id: row.loan_id })
        .then((response) => {
          this.repay_loading = null
          if(response.status == 200) {
            this.rows = response.data
            this.$store.commit('reduce', row.amount)
            this.$swal({
              icon: 'success',
              text: this.$t('my-loans.repay-success'),
            })
          }
        })
    },
    expiredFn(row) {
      if(row.status == 1) {
        return false
      }
      // Todo::
      let now = new Date().getTime()
      let date_term = new Date(row.term).getTime()
      return date_term <= now
    }
  },
  created() {
    this.loading = true
    this.$http.get(this.urls.loan_repayments + '?loan_id=' + this.$route.params.id)
      .then((response) => {
        this.loading = false
        this.rows = response.data
      })
  },
}
</script>