<template>
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item" v-on:click="clickFn">
          <router-link class="nav-link" :to="{ name: 'home' }" :class="{ 'active': router_name == 'home' }">
            <i class="nav-icon icon-speedometer"></i> {{ $t('dashboard.title') }}
            <span class="badge badge-primary">{{ $t('sidebar.new') }}</span>
          </router-link>
        </li>
        <li class="nav-title">{{ $t('loan') }}</li>
        <li class="nav-item" v-on:click="clickFn">
          <router-link class="nav-link" :to="{ name: 'loan-packages' }" :class="{ 'active': router_name == 'loan-packages' }">
            <i class="nav-icon icon-drop"></i> {{ $t('loan-packages.title') }}
          </router-link>
        </li>
        <li class="nav-item" v-on:click="clickFn">
          <router-link class="nav-link" :to="{ name: 'my-loans' }" :class="{ 'active': ['my-loans', 'my-loan-repayment'].indexOf(router_name) > 0 }">
            <i class="nav-icon icon-puzzle"></i> {{ $t('my-loans.title') }}
          </router-link>
        </li>
      </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
  </div>
</template>

<script>
export default {
  props: {
    user: Object,
    site_name: {
      type: String,
      default: 'Aspire'
    },
    urls: Object
  },
  data() {
    return {
      router_name: null
    }
  },
  methods: {
    clickFn() {
      if(this.$router.currentRoute) {
        this.router_name = this.$router.currentRoute.name
      }
    }
  },
  mounted() {
    this.router_name = this.$router.currentRoute.name
  }
}
</script>
